* {
  margin: 0;
  padding: 0;
}

#category_title{
  display: flex;
  margin: 10px 0px 0px 0px;
  justify-content:left;
}

#category_title h1:nth-child(n) {
  cursor: pointer;
}

.lesson_title{
  padding: 10px 25px 10px 25px;
  border: 1px solid #aaa;
  background: rgb(228, 228, 228);
}

.study_title{
  padding: 10px 25px 10px 25px;
  border: 1px solid #aaa;
}

.account_title{
  padding: 10px 25px 10px 25px;
  border: 1px solid #aaa;
}

#lesson {
  display: block;
}
#study {
  display: none;
}
#account {
  display: none;
}

.qna{
  list-style: none;
  background: rgb(228, 228, 228);
}

/* 숨기고 열기 */
.qna > li{
  padding: 10px 0;
  box-sizing: border-box;
}
.qna > li:nth-child(n+2){ /* 아이템 구분 점선 */
  border-top: 1px dashed #aaa;
}
.qna input {
  display: none;
}

.qna label { /* 제목 - 클릭 영역 */
  font-weight: bold;
  color: #000;
  margin: 20px 0 0;
  cursor: pointer;
}
.qna label::before { /* 제목 앞 화살표 */
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #a00;
  margin: 2px 0 0 8px;
  float: left;
}

.qna input:checked + label::before { /* 내용 펼침 상태 제목 앞 화살표 */
  border: 8px solid transparent;
  border-top: 8px solid #a00;
  border-bottom: 0;
  margin: 8px 4px 0;
}

.qna div { /* 내용 영역 - 기본 감춤 상태 */
  display: none;
  color: #666;
  font-size: 0.9375em;
  overflow: hidden;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  transition: max-height 0.4s;
}
.qna input:checked + label + div { /* 내용 영역 펼침 */
  display: block;
}

#qna_submit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#qna_submit button {
  width: 63px;
  height: 40px;
  cursor: pointer;
}

#qna_content{
  display: none;
}

#qna_content #input_category {
  display: block;
  width: 50%;
  height: 20px;
  margin-bottom: 10px;
}

#qna_content button {
  width: 70px;
  height: 30px;
}

.qna_write_title{
  width: 50%;
  height: 30px;
}

.qna_wirte_content{
  height: 150px;
  width: 50%;
  margin-bottom: 5px;
}

table {
  border-spacing: 0px;
  font-size: 20px;
}

#qna_table th {
  border: 2px solid #000;
  border-left-width: 0px;
  border-right-width: 0px;
  text-align: center;
}

#qna_table td {
  text-align: center;
  background: rgb(246, 246, 246);
  border-bottom: 1px solid rgb(70, 70, 70);
}

#table_page {
  display: inline-flex;
  justify-content: center;
}

#table_page li {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#table_page li:nth-child(n+2){
  width: 30px;
  height: 25px;
  margin-left: 5px;
}

#table_page li:nth-last-child(1) {
  width: auto;
  height: auto;
  margin-left: 5px;
}

#table_page li:hover {
  text-decoration: underline;
  color: aquamarine;
}
