.main-content {
    padding: 3%;
    overflow: hidden;
}

.check_title {
    float: left;
    width: 25%;
    margin: 15px 0;
}

.title_content {
    float: right;
    width: 75%;
}

.title_content li{
    margin: 15px 0;
}

.title_content li p {
    font-size: 15px;
    font-weight: bold
}
