* {
    box-sizing: border-box; /* 길이 계산을 편하게 하기위함. */
}

body {
    margin: 0;
    width: 80%;
    /* font-family: sans-serif; */
}

a {
    text-decoration: none; /* 기본 밑줄을 제거 */
    color: #888;
}

a:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성*/
}

header {
    margin: auto;
    /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
    width: 50rem;
    height: 100px;
    display: flex;
    align-items: flex-end; /* 하위 요소들 수직 가운데정렬 */
    position: relative;
}

fieldset {
    border: none; /*기본 border 없애기*/
}

.visually-hidden { /* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 x. */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.links { /* 링크들을 상단 우측에 위치 */
    position: absolute;
    top: 0;
    right: 0;
}

.link_text {
    font-size: 10px;
    margin-left: 5px;
}

.img_logo {
    margin-bottom: 12px;
    width: 220px;
    height: 65px;
}

.search_box {
    width: 300px;
    height: 50px;
    border: 2px solid skyblue;
    display: flex;
    align-items: center;
}

.search_box input {
    flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search_box button {
    flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
    height: 46px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: skyblue;
    color: #ffffff;
}

/* nav */
header > nav {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.nav_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #f1f3f6;
}

.nav_items ul > li {
    display: inline-block;
    margin-left: 8px;
}

.nav_items ul > li:nth-child(-n + 3) > a {
    color: rgb(0, 242, 255);
}

.nav_items ul > li > a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    background: darkgray;
    height: 310px;
}

/* 재사용 클래스 */
.color_naver {
    color: #03cf5d;
}


@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    /* font-family: 'Lato', sans-serif; */
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 30%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    /* width: 100%; */
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    /* 자동 슬라이드 */
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 15%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

/* 버튼 위치 */

.carousel::before,
.carousel__prev {
    left: 1rem;
}

.carousel::after,
.carousel__next {
    right: 1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: rgb(9, 109, 175);
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
    display: none;
}

/* 화살표 */

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.showcarousel:hover .carousel::before, .carousel::after {
    display: block;
}



/* board 페이지 */
* {
    margin: 0;
    padding: 0;
}

#category_title{
    display: flex;
    margin: 10px 0px 0px 0px;
    justify-content:left;
    cursor: pointer;
}

.lesson_title{
    padding: 10px 25px 10px 25px;
    border: 1px solid #aaa;
    background: #aaa;
}
.lesson_title:hover{
    background-color: #aaa;
}
.study_title{
    padding: 10px 25px 10px 25px;
    border: 1px solid #aaa;
}

.study_title:hover{
    background-color: #aaa;
}
.account_title{
    padding: 10px 25px 10px 25px;
    border: 1px solid #aaa;
}
.account_title:hover{
    background-color: #aaa;
}

#lesson {
    display: block;
}
#study {
    display: none;
}
#account {
    display: none;
}

.qna{
    list-style: none;
    width: 30%;
    background: #aaa;
}

/* 숨기고 열기 */
.qna > li{
    padding: 10px 0;
    box-sizing: border-box;
}
.qna > li:nth-child(n+2){ /* 아이템 구분 점선 */
    border-top: 1px dashed #aaa;
}
.qna input {
    display: none;
}

.qna label { /* 제목 - 클릭 영역 */
    font-weight: bold;
    color: #000;
    margin: 20px 0 0;
    cursor: pointer;
}
.qna label::before { /* 제목 앞 화살표 */
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 8px solid #a00;
    margin: 2px 0 0 8px;
    float: left;
}

.qna input:checked + label::before { /* 내용 펼침 상태 제목 앞 화살표 */
    border: 8px solid transparent;
    border-top: 8px solid #a00;
    border-bottom: 0;
    margin: 8px 4px 0;
}

.qna div { /* 내용 영역 - 기본 감춤 상태 */
    display: none;
    color: #666;
    font-size: 0.9375em;
    overflow: hidden;
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
    transition: max-height 0.4s;
}
.qna input:checked + label + div { /* 내용 영역 펼침 */
    display: block;
}

#qna_submit{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#qna_submit button {
    width: 63px;
    height: 40px;
    margin-left: 230px;
    cursor: pointer;
}

#qna_content{
    display: none;
}

#qna_content button {
    width: 70px;
    height: 30px;
}

.qna_write_title{
    width: 30%;
    height: 25px;
    margin-bottom: 5px;
}

.qna_wirte_content{
    height: 150px;
    width: 30%;
    margin-bottom: 5px;
}

table {
    border-spacing: 0px;
    font-size: 20px;
}

#qna_table th {
    border: 2px solid #000;
    border-left-width: 0px;
    border-right-width: 0px;
}

#qna_table td {
    text-align: center;
    background: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(236, 236, 236);
}

.table_footer_list {
    margin: 10px 50px 10px 0px;
}

#table_page li {
    display: inline-block;
    /* width: 30px;
    height: 25px; */
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#table_page li:nth-child(n+2){
    width: 30px;
    height: 25px;
}

#table_page li:nth-last-child(1) {
    width: auto;
    height: auto;
}

#table_page li:hover {
    text-decoration: underline;
}
