#contact .user-profile{
    float: left;
    width: 100%;
}

#contact .img{
    float: left;
    width: 40%;
    margin: 0.8vw;
}
#contact .img img{
    float: left;
    width: 100%;
}

#contact #img-form{
    float: bottom;
    width: 100%;
}

#contact .user-profile p {
    font-size: 2vw;
    color: white;
    text-align: center;
    margin: 20px auto;
}

.user-box p {
    font-size: 1.5vw;
    color: black;
    margin:  auto;
}

.user-box h1 {
    font-size: 2.3vw;
    color: white;
}

#img-preview {
    border-radius: 50%;
}

.profileBtn{
    float: right;
    background-color: black;
    width: 75px;
    border-radius: 15px;
    margin: auto 10px;
}

.img .profileBtn {
    float: right;
    background-color: black;
    width: 100%;
    border-radius: 15px;
    margin: auto;
}
.profileBtn a{
    color: white;
}
.profileBtn{
    color: white;
}
