<footer>
    <div class="footer">
        <div class="container">
            <div class="row border-top">
                <div class="col-md-6 padding_bottom1   ">
                    <h3> 정기 메일 수신 </h3>
                    <form class="footer_form">
                        <input class="enter" placeholder="Enter your email" type="type" name="Enter your email">
                        <button class="submit"> 제출</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 offset-md-1 padding_bottom1">
                            <h3>Links</h3>
                            <ul class="cont">
                                <li><a href="https://ipsi.yju.ac.kr/ipsi/index.do" target="_blank" style="color:#8a9397;">영진전문대학교 입학처</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h3>Contact us</h3>
                            <ul class="cont">
                                <li>고객센터 (09:00 ~ 16:00)</li>
                                <li>000-0000-0000</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p> 일본 IT 기업 주문반 <a href="http://jclass.yjc.ac.kr/"> 홈페이지 이동</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
