{% extends 'layout.html' %}

{% block content%}
<japan>
    <h1>현지학기제의 추억을 공유해보아요!!</h1>
    {% if isLogin %}
    <form action="/japan/insert" method="post">
        <input type="text" placeholder="추가하고 싶은 주소를 입력해주세요" name="url">
        <br>
        <input type="text" placeholder="영상에 대한 설명 입력" name="content">
        <input name="uploader" value="{{useremail}}" hidden>
        <button type="submit">입력</button>
    </form>
    {% endif %}
    <div id="youtubeUrl"></div>
</japan>

<script>
    window.onload = async () => {
        try {
            const result = await axios.get('/japan/youtube');
            const youtubes = result.data;
            const url = document.querySelector('#youtubeUrl');
            url.innerHTML = '';
            console.log(youtubes);
            youtubes.map(youtube => {
                console.log(youtube.url);
                let youtub = document.createElement('li');
                youtub.innerHTML = youtube.content;
                url.appendChild(youtub);
                youtub = document.createElement('li');
                youtub.innerHTML = `<iframe id="videoIn" width="560" height="315" src="${youtube.url}" title="YouTube video player"
                                           frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
                console.log(youtub);
                url.appendChild(youtub);
            })
        } catch (err) {
            console.error(err);
        }
    };
</script>

{% endblock %}
