{% extends 'layout.html' %}

{% block content%}
<login>
    <div class="contact" style="margin: auto">
        <div class="col-md-6 offset-md-3">
            <form action="/login" method="post" id="login" class="main_form">
                <div class="row">
                    <div class="col-md-12">
                        <input class="contactus" type="email" name="useremail" id="email" placeholder="이메일" style="ime-mode:inactive;">
                    </div>
                    <div class="col-md-12">
                        <input class="contactus" type="password" name="password" id="password" placeholder="비밀번호">
                    </div>
                    <div class="col-sm-12">
                        <button class="send_btn" type="submit" > 로그인</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="public/src/login.js"></script>
</login>
{% endblock %}
